<% layout("/layouts/boilerPlate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>EditListing</h3>
      <form
        class="needs-validation"
        action="/listings/<%= listing._id%>?_method=PUT"
        method="post"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            class="form-control"
            type="text"
            name="listing[title]"
            value="<%= listing.title %>"
            required
          />
          <div class="invalid-feedback">Title is required</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            name="listing[description]"
            id=""
            required
          >
    <%= listing.description %></textarea
          >
          <div class="invalid-feedback">Description is required</div>
        </div>
        <div class="mb-3">
          <p>Original Image</p>
          <img src=<%= originalImageUrl %> alt="">
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload new Image</label>
          <input
            class="form-control"
            type="file"
            name="listing[image]"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              class="form-control"
              type="number"
              name="listing[price]"
              value="<%= listing.price %>"
              required
            />
            <div class="invalid-feedback">Price is required</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              class="form-control"
              type="text"
              name="listing[country]"
              value="<%= listing.country %>"
              required
            />
            <div class="invalid-feedback">Please enter country name</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input
            class="form-control"
            type="text"
            name="listing[location]"
            value="<%= listing.location %>"
            required
          />
          <div class="invalid-feedback">Please enter Location</div>
        </div>
        <button class="btn btn-dark edit-btn my-3">Edit</button>
      </form>
    </div>
  </div>
</body>
